.about-content-heading {
    color: white;
    text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
}

.about-content-card {
    border-radius: 12px;
    background-color: hsla(0, 100%, 100%, 0.5);
    backdrop-filter: blur(64px);
    border: 1px solid #ccc;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
}

.about-para-text {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 768px) {
    .about-content-panel {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .about-content-text {
        width: 100%;
    }

    .about-content-heading {
        text-align: center;
        font-size: 2rem;
        line-height: 1.1;
        padding-bottom: 1rem;
    }

    .about-content-description {
        width: 90%;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1;
        text-align: justify;
        margin: 3rem auto;
    }

    .about-content-image {
        width: 100%;
    }

    .about-content-card {
        width: 90%;
        padding: 1rem;
        text-align: center;
    }

    .about-card-title {
        font-size: 1.5rem;
    }

    .about-card-text p {
        text-align: left;
        padding: 1rem 0;
    }

}

@media screen and (min-width: 769px) {
    .about-content-panel {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 1rem;
        margin: 0 auto;
    }

    .about-content-text {
        width: 50%;
    }

    .about-content-heading {
        text-align: center;
        font-size: 3rem;
        line-height: 1.1;
    }

    .about-content-description {
        max-width: 70%;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1;
        text-align: justify;
        margin: 1rem auto;
    }

    .about-content-image {
        width: 50%;
    }

    .about-content-card {
        width: 90%;
        max-width: 768px;
        padding: 1rem;
        text-align: center;
    }

    .about-card-title {
        font-size: 2rem;
    }

    .about-card-text p {
        text-align: left;
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1366px) {
    .about-content-heading {
        font-size: 5rem;
    }

}