/* Login.css */

.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  max-width: 20rem;
  margin: autos auto;
  padding: 1.5rem;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 12px;
  background-color: hsla(0, 100%, 100%, 0.5);
  backdrop-filter: blur(64px);
}

.login-form h2 {
  margin-bottom: 2rem;
  /* Add some space below the heading */
}

.login-form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-form button {
  width: 60%;
  margin: auto;
  margin-bottom: 1rem;
}

.login-form a {
  display: block;
  margin: 0 1.5 rem;
}

.horizontal-bar {
  text-align: center;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.social-login {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.social-login button {
  margin-bottom: 10px;
}

.button-padding {
  width: 1rem;
  /* Adjust the width as needed for the desired padding */
}

.or-login-with {
  text-align: center;
  margin: 1rem 0;
}

.horizontal-line {
  display: inline-block;
  width: 50px;
  /* Adjust the width of the lines */
  height: 1px;
  background-color: #ccc;
  /* Adjust the color of the lines */
  margin: 0 10px;
  /* Adjust the margin between the lines and the text */
}

/* Media query for screens below 768 pixels */
@media (min-width: 768px) {
  .social-login {
    flex-direction: row;
    /* Display buttons in a row layout */
  }
}