main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 80%;
    margin: 0 auto;
}

.hero-div-left {
    width: 45%;
    padding-left: 4rem;
}

.hero-div-right {
    width: 55%;
    padding-right: 4rem;
}

.hero-heading {
    font-size: 4rem;
    color: white;
    text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
}

.hero-text {
    font-size: 1rem;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

@media only screen and (min-width: 640px) {
    .hero-heading {
        font-size: 1rem;
    }

    .hero-text {
        font-size: .5rem;
    }

}

@media only screen and (max-width: 768px) {

    .hero-div-left,
    .hero-div-right {
        width: 100%;
        padding: 1rem;
    }

    .hero-div-left {
        text-align: center;
    }

    .hero-div-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-heading {
        font-size: 4rem;
    }

    .hero-text {
        font-size: 1.5rem;
    }

    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-buttons {
        justify-content: center;
    }

}

@media screen and (min-width: 1024px) {
    .hero-div-right {
        width: 60%;
        padding-right: 4rem;
    }

    .hero-div-left {
        width: 40%;
        padding-left: 4rem;
    }

    .hero-heading {
        font-size: 6rem;
    }

    .hero-text {
        font-size: 2rem;
    }
}

.discover-section {
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    max-width: 32rem;
    text-align: center;
}