.reset-pwd {
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reset-form-container {
	width: 90%;
	max-width: 512px;
	padding: 2rem 1rem;
	border-radius: 12px;
	background-color: hsla(0, 100%, 100%, 0.5);
	backdrop-filter: blur(64px);
	border: 1px solid #ccc;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.reset-form {
	margin-top: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.reset-form input {
	width: 100%;
}
