.post-page {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
}

.post-post-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 95%;
	max-width: 768px;
	padding: 1rem;
	border-radius: 12px;
	background-color: hsla(0, 100%, 100%, 0.5);
	backdrop-filter: blur(64px);
	border: 1px solid #ccc;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
}

.post-main-post-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.post-post-photo {
	width: 128px;
	padding: 1rem;
	border-radius: 12px;
	background-color: hsla(0, 100%, 100%, 0.5);
	backdrop-filter: blur(64px);
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
}

.post-sub-post-container {
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
}
