.post-page {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 1rem;
}

.post-post-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	width: 95%;
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 12px;
	background-color: hsla(0, 100%, 100%, 0.5);
	backdrop-filter: blur(64px);
	border: 1px solid #ccc;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
}

.post-main-post-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4rem;
	padding: 1rem;
}

.post-text-container p:not(:nth-last-child(1)) {
	text-transform: capitalize;
}

.slider-container {
	max-width: 512px;
	padding: 0.5rem;
}

.slider-container img {
	border-radius: 12px;
}

.slider-container button,
.slick-next,
.slick-prev {
	z-index: 1;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	box-shadow: none;
}

.slick-prev {
	transform: translateX(+50%);
	left: -1rem;
}

.slick-next {
	transform: translateX(-50%);
	right: -1rem;
}

.slick-list > div {
	margin-left: 0;
}

.post-directions {
	width: 100%;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.post-map-container {
	width: 60%;
	aspect-ratio: 1;
	border-radius: 12px;
	overflow: hidden;
}

.directions-container {
	width: 40%;
	aspect-ratio: 40/60;
	display: block;
	flex-direction: column;
	align-items: flex-start;
}
